@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

.container {
  width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  background-color: #B9B1AA;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    border-radius: 0;
  }
}

.list-header {
  height: 240px;
  margin-bottom: 20px;
  align-self: center;
  background-image: url("./images/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative; 
}

.list-header h1 {
    padding: 1rem;
    margin-top: 0;
    color: #21160D; 
}

.clear {
  position: absolute;
  right: 1em;
  top: 1.2em;
}

.clear-all {
  font-size: 25px;
  color: #E7EDF0;
}

.clear-all:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

.list-header #date {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: #eaeaea;
    font-size: 20px;
    font-weight: 500; 
}

.todo-component {
  display: flex;
  flex-flow: column;
  padding: 0 20px; 
}

.todo-component__control {
  display: flex;
  flex-flow: row nowrap; 
}

.todo-component__input-group {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding-right: 10px; 
}

.todo-component__control input {
  height: 25px;
  width: 100%;
  border-color: #eaeaea;
  background-color: #eaeaea;
  border-radius: 5px; 
}

.uncheck-btn {
  margin: 10px 0 0 10px;
  background-color: #eaeaea;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
  color: green;
  font-weight: 800;
  cursor: pointer; 
}

.uncheck-btn:hover {
  border: 2px solid red;
}

.todo-component__control span {
  padding: 10px 10px 0 10px; 
}

.todolist {
  width: 100%;
  padding: 0;
  margin: 10px 0; 
}